.fut-tag {
  margin-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  background-color: #ffcdd2;
  color: #b71c1c;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 600;
}

.fut-tag--green {
  background-color: #e0f2f1;
  color: #004d40;
}
