.fut-tag {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 600;
}

.fut-tag--green {
  background-color: $background-tag-bg-green;
  color: $background-tag-color-green;
}

.fut-tag--red {
  background-color: $background-tag-bg-red;
  color: $background-tag-color-red;
}
