* {
    font-family: 'Open Sans', sans-serif;
}

.matchs {
    display: grid;
    grid-template-columns: auto auto auto;
}

.match {
    display: block;
    padding: 1rem;
    max-width: 300px;
    margin: 1rem;
    border-radius: 4px;
}

.match-sides {
    font-weight: 600;
    font-size: 16px;
    margin-top: 0rem;
}

.match-competition {
    margin: 0rem auto;
    font-weight: 400;
    bottom: 0;
}