* {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

html {
  height: 100vh;
}
body {
  min-height: 100vh;
  margin: 0rem;
  padding: 0rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0rem auto;
}
